      <div class="svg-container mb-3">
        <svg id="crowdBar" class="crowd" aria-hidden="true" width="100%" height="30">
          <g id="wrapper"></g>
        </svg>
        <span id="crowdIndex" class="crowd">Loading...</span>
        &nbsp;(<a href="/about/locations/king-library/#about-crowd-index">Read more</a>)<br />
      </div>

<script is:inline src="/src/scripts/crowd-index.js"></script>