---


---


<header class="site-header" role="banner">
  <!--<div class="container collapse card card-body rounded-0" tabindex='-1' id="gSearch">
    <div class="gcse-search"></div>
  </div>  -->

  <nav class="container navbar navbar-expand-md module stripe-1 navbar-light" role="navigation" aria-label="main">
    <!-- when folded -->
    <div class="d-flex justify-content-around w-100">
      <div class="d-md-none d-flex justify-content-center">
        <a class="navbar-brand" href="/index.html">
          <img src="https://libapps.s3.amazonaws.com/accounts/160520/images/MUlibraries-logo-white_text.png"
            style="width:325px; height:auto;" class="img-fluid" alt="Miami University Library"></a>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#superAndMain"
        aria-controls="superAndMain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <!-- Endof folded -->

    <div class="container col-12 px-lg-5">
      <div class="col-md-3 d-none d-md-flex">
        <a class="navbar-brand" id="site-logo" href="/index.html"><img
            src="https://libapps.s3.amazonaws.com/accounts/160520/images/MUlibraries-logo-white_text.png"
            alt="Miami University Library"></a>
      </div>

      <div class="col-md-9 collapse flex-column navbar-collapse" id="superAndMain">

        <!-- Start of Super Nav -->
        <div class="w-100">
          <ul class="nav font-weight-light d-flex justify-content-md-end" id="supernav">
            <li class="nav-item"><a href="https://mymiami.miamioh.edu" class="text-white">myMiami</a></li>
            <li class="nav-item"><a href="https://holmes.lib.miamioh.edu/patroninfo.html" class="text-white">My
                Library Account</a></li>
            <li class="nav-item"><a
                href="https://www.givetomiamioh.org/s/916/16/interior-flah.aspx?sid=916&gid=1&pgid=5141"
                class="text-white">
                <i class="bi bi-gift"></i> Give</a></li>
            <li class="nav-item">
              <a data-bs-toggle="collapse" href="#gSearch" role="button" aria-expanded="false" aria-controls="gSearch"
                id="site-search-link" class="site-search-icon-control">
                <i class="bi bi-search" id="site-search-icon"></i> <span class="site-search-text">Site Search</span></a>
            </li>
          </ul>
        </div>
        <!-- End of Supernav -->

        <ul class="navbar-nav w-90 d-flex justify-content-around" id="main3nav">

          <!-- RESEARCH, CREATION & INSTRUCTION MENU -->
     <li class="nav-item me-4">
            <a class="dropdown-toggle nav-title text-white" href="#cornerImgAlumni" role="button" data-display="static"
              data-bs-toggle="dropdown" aria-expanded="false">Research and Support<b class="caret"></b> </a>
            <div class="dropdown-menu px-10 px-lg-5" id="cornerImgAlumni">
              <div class="container d-flex flex-row flex-wrap">
                <div class="col-md-3 col-sm-6" role="group" aria-labelledby="find-submenu-title">
                  <ul class="list-unstyled" data-submenuidx="0" data-menuidx="0" id="nav-0-0">
                    <li id="find-submenu-title" class="title"><strong>Find</strong></li>
                    <li data-colidx="0" data-submenuidx="0" data-menuidx="0" id="nav-0-0-0"><a
                        href="https://www.lib.miamioh.edu/research/find/guides/">Research Guides</a></li>
                    <li data-colidx="1" data-submenuidx="0" data-menuidx="0" id="nav-0-0-1"><a
                        href="https://www.lib.miamioh.edu/research/find/databases/">Databases A-Z</a></li>
                    <li data-colidx="2" data-submenuidx="0" data-menuidx="0" id="nav-0-0-2"><a
                        href="https://www.lib.miamioh.edu/research/find/onesearch/">OneSearch</a></li>
                    <li data-colidx="3" data-submenuidx="0" data-menuidx="0" id="nav-0-0-3"><a
                        href="https://www.lib.miamioh.edu/research/find/articles/">Articles and More</a></li>
                    <li data-colidx="4" data-submenuidx="0" data-menuidx="0" id="nav-0-0-4"><a
                        href="https://www.lib.miamioh.edu/research/find/books/">Books and More</a></li>
                    <li data-colidx="5" data-submenuidx="0" data-menuidx="0" id="nav-0-0-5"><a
                        href="https://www.lib.miamioh.edu/research/find/encyclopedias/">Encyclopedias and
                        Dictionaries</a></li>
                    <li data-colidx="6" data-submenuidx="0" data-menuidx="0" id="nav-0-0-6"><a
                        href="https://www.lib.miamioh.edu/digital-collections/">Digital Collections</a></li>
                  </ul>
                </div>
                <div class="col-md-3 col-sm-6" role="group" aria-labelledby="research-support-submenu-title">
                  <ul class="list-unstyled" data-submenuidx="1" data-menuidx="0" id="nav-0-1">
                    <li id="research-support-submenu-title" class="title"><strong>Research Support</strong></li>
                    <li data-colidx="7" data-submenuidx="1" data-menuidx="0" id="nav-0-1-7"><a
                        href="https://www.lib.miamioh.edu/research/research-support/academic-integrity/">Academic
                        Integrity</a></li>
                    <li data-colidx="8" data-submenuidx="1" data-menuidx="0" id="nav-0-1-8"><a
                        href="https://www.lib.miamioh.edu/research/research-support/citation/">Citation Resources</a>
                    </li>
                    <li data-colidx="9" data-submenuidx="1" data-menuidx="0" id="nav-0-1-9"><a
                        href="https://www.lib.miamioh.edu/research/research-support/ask/">Ask a Librarian</a></li>
                    <li data-colidx="10" data-submenuidx="1" data-menuidx="0" id="nav-0-1-10"><a
                        href="https://www.lib.miamioh.edu/research/research-support/copyright/">Copyright</a></li>
                    <li data-colidx="11" data-submenuidx="1" data-menuidx="0" id="nav-0-1-11"><a
                        href="https://www.lib.miamioh.edu/research/research-support/workshops/">Research Workshops</a>
                    </li>
                    <li data-colidx="12" data-submenuidx="1" data-menuidx="0" id="nav-0-1-12"><a
                        href="https://www.lib.miamioh.edu/research/research-support/hcw/">Howe Writing Center</a></li>
                  </ul>
                </div>
                <div class="col-md-3 col-sm-6" role="group" aria-labelledby="instruction-support-submenu-title">
                  <ul class="list-unstyled" data-submenuidx="2" data-menuidx="0" id="nav-0-2">
                    <li id="instruction-support-submenu-title" class="title"><strong>Instruction Support</strong></li>
                    <li data-colidx="14" data-submenuidx="2" data-menuidx="0" id="nav-0-2-14"><a
                        href="https://www.lib.miamioh.edu/research/instruction/library-instruction/">Library
                        Instruction</a></li>
                    <li data-colidx="15" data-submenuidx="2" data-menuidx="0" id="nav-0-2-15"><a
                        href="https://www.lib.miamioh.edu/research/instruction/credo-instruct/">Information Literacy
                        Modules</a></li>
                    <li data-colidx="16" data-submenuidx="2" data-menuidx="0" id="nav-0-2-16"><a
                        href="https://www.lib.miamioh.edu/research/instruction/course-reserves/">Course Reserves</a>
                    </li>
                    <li data-colidx="17" data-submenuidx="2" data-menuidx="0" id="nav-0-2-17"><a
                        href="https://www.lib.miamioh.edu/research/instruction/oer/">Open Educational Resources</a></li>
                    <li data-colidx="18" data-submenuidx="2" data-menuidx="0" id="nav-0-2-18"><a
                        href="https://www.lib.miamioh.edu/research/instruction/accessibility/">Accessibility
                        Resources</a></li>
                    <li data-colidx="19" data-submenuidx="2" data-menuidx="0" id="nav-0-2-19"><a
                        href="https://www.lib.miamioh.edu/research/instruction/videos/">Instructional Videos</a></li>
                    <li data-colidx="20" data-submenuidx="2" data-menuidx="0" id="nav-0-2-20"><a
                        href="https://www.lib.miamioh.edu/research/instruction/lore/">Learning Object Repository</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-3 col-sm-6" role="group" aria-labelledby="create-submenu-title">
                  <ul class="list-unstyled" data-submenuidx="3" data-menuidx="0" id="nav-0-3">
                    <li id="create-submenu-title" class="title"><strong>Creation</strong></li>
                    <li data-colidx="21" data-submenuidx="3" data-menuidx="0" id="nav-0-3-21"><a
                        href="https://www.lib.miamioh.edu/research/creation/makerspace/">Makerspace</a></li>
                    <li data-colidx="22" data-submenuidx="3" data-menuidx="0" id="nav-0-3-22"><a
                        href="https://www.lib.miamioh.edu/research/creation/digital-scholarship/">Digital
                        Scholarship</a></li>
                    <li data-colidx="23" data-submenuidx="3" data-menuidx="0" id="nav-0-3-23"><a
                        href="https://www.lib.miamioh.edu/research/creation/scholarly-commons/">Scholarly Commons</a>
                    </li>
                    <li data-colidx="24" data-submenuidx="3" data-menuidx="0" id="nav-0-3-24"><a
                        href="https://www.lib.miamioh.edu/research/creation/data-services/">Data Services</a></li>
                    <li data-colidx="26" data-submenuidx="3" data-menuidx="0" id="nav-0-3-26"><a
                        href="https://www.lib.miamioh.edu/research/creation/cre-copyright/">Copyright</a></li>
                    <li data-colidx="27" data-submenuidx="3" data-menuidx="0" id="nav-0-3-27"><a
                        href="https://www.lib.miamioh.edu/research/creation/cre-workshops/">Creation Workshops</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>   

          <!-- USE THE LIBRARIES MENU -->
      <li class="nav-item me-4">
            <a class="dropdown-toggle nav-title text-white" href="#cornerImgKing" role="button" data-display="static"
              data-bs-toggle="dropdown" aria-expanded="false">Use the Libraries<b class="caret"></b>
            </a>
            <div class="dropdown-menu px-10 px-lg-5" id="cornerImgKing">
              <div class="container d-flex flex-row flex-wrap">

                <div class="col-md-3 col-sm-6" role="group" aria-labelledby="borrowing-submenu-title">
                  <ul class="list-unstyled" data-submenuidx="4" data-menuidx="1" id="nav-1-4">
                    <li id="borrowing-submenu-title" class="title"><strong>Borrowing and Requests</strong></li>
                    <li data-colidx="28" data-submenuidx="4" data-menuidx="1" id="nav-1-4-28"><a
                        href="https://www.lib.miamioh.edu/use/borrow/policies/">Borrowing Policies</a></li>
                    <li data-colidx="29" data-submenuidx="4" data-menuidx="1" id="nav-1-4-29"><a
                        href="https://www.lib.miamioh.edu/use/borrow/reserves/">Reserves and Textbooks</a></li>
                    <li data-colidx="30" data-submenuidx="4" data-menuidx="1" id="nav-1-4-30"><a
                        href="https://www.lib.miamioh.edu/use/borrow/ill/">Interlibrary Loan and Storage Requests</a>
                    </li>
                    <li data-colidx="31" data-submenuidx="4" data-menuidx="1" id="nav-1-4-31"><a
                        href="https://www.lib.miamioh.edu/use/borrow/curbside/">Curbside Pickup</a></li>
                    <li data-colidx="32" data-submenuidx="4" data-menuidx="1" id="nav-1-4-32"><a
                        href="https://www.lib.miamioh.edu/use/borrow/department-delivery/">Department/Dorm Delivery</a>
                    </li>
                    <li data-colidx="33" data-submenuidx="4" data-menuidx="1" id="nav-1-4-33"><a
                        href="https://www.lib.miamioh.edu/use/borrow/home-delivery/">Home Delivery</a></li>
                    <li data-colidx="34" data-submenuidx="4" data-menuidx="1" id="nav-1-4-34"><a
                        href="https://www.lib.miamioh.edu/use/borrow/lola/">Limited Online Library Access Lending
                        Service</a></li>
                  </ul>
                </div>

                <div class="col-md-3 col-sm-6" role="group" aria-labelledby="spaces-submenu-title">
                  <ul class="list-unstyled" data-submenuidx="5" data-menuidx="1" id="nav-1-5">
                    <li id="spaces-submenu-title" class="title"><strong>Spaces</strong></li>
                    <li data-colidx="35" data-submenuidx="5" data-menuidx="1" id="nav-1-5-35"><a
                        href="https://www.lib.miamioh.edu/use/spaces/room-reservations/">Study Rooms</a></li>
                    <li data-colidx=" 36" data-submenuidx="5" data-menuidx="1" id="nav-1-5-36"><a
                        href="https://www.lib.miamioh.edu/use/spaces/computer-labs/">Computer Availability</a></li>
                    <li data-colidx=" 37" data-submenuidx="5" data-menuidx="1" id="nav-1-5-37"><a
                        href="https://www.lib.miamioh.edu/use/spaces/makerspace/">Makerspace</a></li>
                    <li data-colidx=" 39" data-submenuidx="5" data-menuidx="1" id="nav-1-5-39"><a
                        href="https://www.lib.miamioh.edu/use/spaces/reading-rooms/">Faculty and Graduate Reading
                        Room</a></li>
                    <li data-colidx=" 40" data-submenuidx="5" data-menuidx="1" id="nav-1-5-40"><a
                        href="https://www.lib.miamioh.edu/use/spaces/hwc/">Howe Writing Center</a></li>
                    <li data-colidx=" 41" data-submenuidx="5" data-menuidx="1" id="nav-1-5-41"><a
                        href="https://www.lib.miamioh.edu/use/spaces/king-cafe/">King Cafe</a></li>
                  </ul>
                </div>

                <div class="col-md-3 col-sm-6" role="group" aria-labelledby="technology-submenu-title">
                  <ul class="list-unstyled" data-submenuidx="6" data-menuidx="1" id="nav-1-6">
                    <li id="technology-submenu-title" class="title"><strong>Technology</strong></li>

                    <li data-colidx="42" data-submenuidx="6" data-menuidx="1" id="nav-1-6-42"><a
                        href="https://www.lib.miamioh.edu/use/technology/tech-checkout/">Tech Equipment for Checkout</a>
                    </li>

                    <li data-colidx="43" data-submenuidx="6" data-menuidx="1" id="nav-1-6-43"><a
                        href="https://www.lib.miamioh.edu/software/">Software Checkout</a></li>

                    <li data-colidx="44" data-submenuidx="6" data-menuidx="1" id="nav-1-6-44"><a
                        href="https://www.lib.miamioh.edu/use/technology/software/">Software on Library Computers</a>
                    </li>

                    <li data-colidx="45" data-submenuidx="6" data-menuidx="1" id="nav-1-6-45"><a
                        href="https://www.lib.miamioh.edu/use/technology/printing/">Printing and WiFi</a></li>

                    <li data-colidx="46" data-submenuidx="6" data-menuidx="1" id="nav-1-6-46"><a
                        href="https://www.lib.miamioh.edu/use/technology/3d-printing-services/">3D Printing</a></li>

                    <li data-colidx="47" data-submenuidx="6" data-menuidx="1" id="nav-1-6-47"><a
                        href="https://www.lib.miamioh.edu/use/technology/av-production/">Audio-Video Production</a></li>

                    <li data-colidx="48" data-submenuidx="6" data-menuidx="1" id="nav-1-6-48"><a
                        href="https://www.lib.miamioh.edu/use/technology/tech-data-services/">Data Services</a></li>
                  </ul>
                </div>


                <div class=" col-md-3 col-sm-4" role="group" aria-labelledby="services-for-submenu-title">
                  <ul class="list-unstyled" data-submenuidx="7" data-menuidx="1" id="nav-1-7">
                    <li id="services-for-submenu-title" class="title"><strong>Services for...</strong></li>
                    <li data-colidx="49" data-submenuidx="7" data-menuidx="1" id="nav-1-7-49"><a
                        href="https://www.lib.miamioh.edu/use/services/faculty/">Faculty</a></li>
                    <li data-colidx="50" data-submenuidx="7" data-menuidx="1" id="nav-1-7-50"><a
                        href="https://www.lib.miamioh.edu/use/services/graduateStudents/">Graduate Students</a></li>
                    <li data-colidx="51" data-submenuidx="7" data-menuidx="1" id="nav-1-7-51"><a
                        href="https://www.lib.miamioh.edu/use/services/newStudents/">New Students</a></li>
                    <li tabindex="-1" role="presentation" aria-hidden="true">
                      <hr role="separator">
                    </li>
                    <li data-colidx="52" data-submenuidx="7" data-menuidx="1" id="nav-1-7-52"><a
                        href="https://www.lib.miamioh.edu/use/services/libraryhealthy/">Healthy Together at the
                        University Libraries</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- ABOUT MENU -->
     <li class="nav-item">
            <a class="dropdown-toggle nav-title text-white" href="#cornerImgArt" role="button" data-display="static"
              data-bs-toggle="dropdown" aria-expanded="false">About<b class="caret"></b></a>
            <div class="dropdown-menu px-10 px-lg-5" id="cornerImgArt">
              <div class="container d-flex flex-row flex-wrap">
                <div class="col-lg-4 col-md-5 col-sm-6" role="group" aria-labelledby="hours-submenu-title">
                  <ul class="list-unstyled" data-submenuidx="8" data-menuidx="2" id="nav-2-8">
                    <li id="hours-submenu-title" class="title"><strong>Locations &amp; Hours</strong></li>
                    <li data-colidx="53" data-submenuidx="8" data-menuidx="2" id="nav-2-8-53"><a
                        href="https://www.lib.miamioh.edu/about/locations/hours/">Library Hours</a></li>
                    <li data-colidx="54" data-submenuidx="8" data-menuidx="2" id="nav-2-8-54"><a
                        href="https://www.lib.miamioh.edu/about/locations/king-library/">King Library</a></li>
                    <li data-colidx="55" data-submenuidx="8" data-menuidx="2" id="nav-2-8-55"><a
                        href="https://www.lib.miamioh.edu/about/locations/art-arch/">Wertz Art &amp; Architecture Library</a></li>
                    <li data-colidx="56" data-submenuidx="8" data-menuidx="2" id="nav-2-8-57"><a
                        href="https://www.lib.miamioh.edu/about/locations/special-collections-archives/">Special
                        Collections and University Archives</a></li>
                    <li data-colidx="57" data-submenuidx="8" data-menuidx="2" id="nav-2-8-58"><a
                        href="https://www.lib.miamioh.edu/about/locations/regional/">Regional Libraries</a></li>
                    <li tabindex="-1" role="presentation" aria-hidden="true">
                      <hr role="separator">
                    </li>
                  
<li data-colidx="59" data-submenuidx="8" data-menuidx="2" id="nav-2-8-57"><a href="/about/locations/music-library/">Amos Music Library Closure</a></li>
                  </ul>
                </div> <!-- class name LD is used in about.md for landing page design -->
                <div class="col-lg-3 col-md-4 col-sm-6 LD" role="group" aria-labelledby="organization-submenu-title">
                  <ul class="list-unstyled" data-submenuidx="9" data-menuidx="2" id="nav-2-9">
                    <li id="organization-submenu-title" class="title"><strong>Our Organization</strong></li>
                    <li data-colidx="60" data-submenuidx="9" data-menuidx="2" id="nav-2-9-60"><a
                        href="https://www.lib.miamioh.edu/about/organization/contact-us/">Contact Us</a></li>
                    <li data-colidx="61" data-submenuidx="9" data-menuidx="2" id="nav-2-9-61"><a
                        href="https://www.lib.miamioh.edu/about/organization/staff/">Staff Directory</a></li>
                    <li data-colidx="62" data-submenuidx="9" data-menuidx="2" id="nav-2-9-62"><a
                        href="https://www.lib.miamioh.edu/about/organization/liaisons/">Subject Librarians</a></li>
                    <li data-colidx="63" data-submenuidx="9" data-menuidx="2" id="nav-2-9-63"><a
                        href="https://www.lib.miamioh.edu/about/organization/deans-office/">Welcome from the Dean</a>
                    </li>
                    <li data-colidx="64" data-submenuidx="9" data-menuidx="2" id="nav-2-9-64"><a
                        href="https://www.lib.miamioh.edu/about/organization/strategic/">Strategic Plan — Catalyst</a></li>
                    <li data-colidx="65" data-submenuidx="9" data-menuidx="2" id="nav-2-9-65"><a
                        href="https://www.lib.miamioh.edu/about/organization/employment/">Employment</a></li>
                    <li data-colidx="66" data-submenuidx="9" data-menuidx="2" id="nav-2-9-66"><a
                        href="https://www.lib.miamioh.edu/about/organization/policies/">Policies</a></li>
                    <li data-colidx="67" data-submenuidx="9" data-menuidx="2" id="nav-2-9-67"><a
                        href="https://www.lib.miamioh.edu/about/organization/faqs/">FAQs</a></li>
                  </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-5 LD" role="group" aria-labelledby="news-submenu-title">
                  <ul class="list-unstyled" data-submenuidx="10" data-menuidx="2" id="nav-2-10">
                    <li id="news-submenu-title" class="title"><strong>News and Events</strong></li>
                    <li data-colidx="68" data-submenuidx="10" data-menuidx="2" id="nav-2-10-68"><a
                        href="https://www.lib.miamioh.edu/about/news-events/news/">Library News</a></li>
                    <li data-colidx="69" data-submenuidx="10" data-menuidx="2" id="nav-2-10-69"><a
                        href="https://www.lib.miamioh.edu/about/news-events/events-exhibits/">Events and Exhibits</a>
                    </li>
                    <li data-colidx="70" data-submenuidx="10" data-menuidx="2" id="nav-2-10-70"><a
                        href="https://www.lib.miamioh.edu/about/news-events/social/">Social Media</a></li>
                    <li data-colidx="71" data-submenuidx="10" data-menuidx="2" id="nav-2-10-71"><a
                        href="https://www.lib.miamioh.edu/about/news-events/support/">Support the Libraries</a></li>
                    <li tabindex="-1" role="presentation" aria-hidden="true">
                      <hr role="separator">
                    </li>
                    <li data-colidx="72" data-submenuidx="10" data-menuidx="2" id="nav-2-10-72"><a
                        href="https://www.lib.miamioh.edu/about/news-events/coronavirus/">COVID-19 (novel coronavirus)
                        updates and resources</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>







<style>

/**
 * 2.0 Header and Navbar
 * ----------------------------------------------------------------------------
 */

.site-header {
  width: 100%;
  background-color:#c3142d!important;
  border-top: 5px solid #424242;
  padding: 0 0 0.15em 0;
  margin-top: 0;
}

 .site-header {
    position: static;
    float: left;
    border: none;
    background-color: inherit;
  }

#superAndMain {
    margin: -0.25em 0 0 3em;
}

.site-header .nav-title {
  font-family: "Adelle Regular", Georgia, "Times New Roman", serif;
  font-size: 18.4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}


.site-header .nav-title:hover,
.site-header .nav-title:visited {
  color: #fffefc !important;
}

.site-header a.show {
  text-decoration: underline !important;
}

.site-header .nav-trigger {
  display: none;
}

.site-header .menu-icon {
  float: right;
  width: 36px;
  height: 26px;
  line-height: 0;
  padding-top: 10px;
  text-align: center;
}

.site-header .menu-icon > svg path {
  fill: #424242;
}

.site-header label[for="nav-trigger"] {
  display: block;
  float: right;
  width: 36px;
  height: 36px;
  z-index: 2;
  cursor: pointer;
}

.site-header input ~ .trigger {
  clear: both;
  display: none;
}

.site-header input:checked ~ .trigger {
  display: block;
  padding-bottom: 5px;
}

.site-header .page-link {
  color: #222;
  line-height: 1.5;
  display: block;
  padding: 5px 10px;
  margin-left: 20px;
}

.site-header .page-link:not(:last-child) {
  margin-right: 0;
}

/* Super Nav Menu */

#supernav a:hover {
  text-decoration: underline;
}

#supernav li a {
  color: white;
  font-weight: 200;
}

#supernav li:nth-child(-n + 3)::after {
  content: "/";
  color: white;
  padding: 0.35rem;
}

#site-logo img {
width:300px; 
    height: auto; 
    margin: -0.5em 0 0 -2em;
}

#main3nav {
  max-width: 1120px;
  margin: 1.5em 0 0.5em 0;
  padding:0;
}

#main3nav .dropdown-menu {
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right bottom;
  border-bottom: #c3142d 1px solid;
  box-shadow: 0 0.25rem 1.25rem 0 rgba(0, 0, 0, 0.2);
}


#main3nav .dropdown-menu > div {
  width: 80%;
  margin: 0 auto 1.25rem auto;
}

#main3nav .dropdown-menu .title {
  margin: 0.5em 0 0.5em 0;
}

.site-header .navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

.site-header .navbar-toggler {
  background-color: white !important;
}

.site-header .dropdown-menu li a {
  line-height: 1.35em;
  margin-bottom: 0.75em;
  display: block;
  color: #333;
  white-space: normal;
  margin-left: -0.5em;
  padding: 0 0.25em 0 0.5em;
}

.dropdown-menu li a:hover {
  text-decoration: none;
  color: white;
  background-color: #c3142d !important;
  padding-right: 5px;
}

/* Main Nav Menu */
#cornerImgAlumni {
  background-image: url("https://www.lib.miamioh.edu/images/CornerImages/AlumniHallCornerImg.png");
  background-position: left bottom !important;
}

#cornerImgKing {
  background-image: url("https://www.lib.miamioh.edu/images/CornerImages/KingLibraryCornerImg.png");
}

#cornerImgArt {
  background-image: url("https://www.lib.miamioh.edu/images/CornerImages/LibraryCornerImg.png");
}

/**
 * 2.1 Header @media queries
 * ----------------------------------------------------------------------------
 */

@media screen and (max-width: 768px) {
    .navbar {
    margin: 0.75em auto 0.75em auto;
  }
  
 
  .container {
    max-width: 96%;
 }
 
  .site-header {
    margin-top: -1em;
    border-top: 3px solid black;
  }

  
  #main3nav .dropdown-menu {
    width: 98%;
    left: auto;
    right: 1%;
margin:0;
  }
  .site-header .nav-title {
    font-size: 23px;
  }    

  #supernav {
    margin: 1em 0 0 0;
  }
   
  .site-header label[for="nav-trigger"] {
    display: none;
  }
  .site-header .menu-icon {
    display: none;
  }
  .site-header input ~ .trigger {
    display: block;
  }
  .site-header .page-link {
    display: inline;
    padding: 0;
    margin-left: auto;
  }
  .site-header .page-link:not(:last-child) {
    margin-right: 0px;
  }
  
}

@media screen and (min-width: 768px) {
  .site-header .nav-title {
    font-size: 20px;
  }
  #site-logo img {
    
  }
 #supernav {
    margin: 0;
  }
  
  .navbar {
  margin: 0.5em auto 0em auto;
  padding:0 0 0em 0!important;
  }
}

@media screen and (min-width: 992px) {
  .site-header .nav-title {
    font-size: 23px;
  }
    #site-logo img {
    
   }
}

@media screen and (min-width: 1200px) {
  .site-header .nav-title {
    font-size: 24.8px;
  }
   #site-logo img {
    
   }
}




</style>